.create_employee_form {
    margin: 20px 0px 20px 0px;
    h2 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-weight: bold;
        }
        .form_element {
            width: 25%;
            display: flex;
            flex-direction: column;
            margin: 10px 0 10px 0;
            label {
                font-weight: bold;
            }
            input {
                padding: 5px;
                font-size: 1.2rem;
            }
            .css-2b097c-container {
                font-size: 1.2rem;
            }
        }
        .save_button {
            display: block;
            width: 20%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border-color: $color-primary;
            border-radius: 5px;
            background-color: $color-primary;
            color: #fff;
            cursor: pointer;
        }
        .notValid {
            border-color: red;
            border-radius: 5px;
        }
    }
}